.tokenomics {
  background: #FF99D7;
  border-radius: 100px;
  margin-top: 260px;
  padding: 90px 0;
  @include for-tablet-landscape {
    margin-top: 70px;
    padding: 50px 0;
    border-radius: 40px;
  }
  h2 {
    text-align: center;
    font-size: 44.25px;
    font-family: "Inter Tight", sans-serif;
    text-transform: uppercase;
    font-weight: 400;

    @include for-tablet-landscape {
      font-size: 32px;
    }

    &:after {
      display: block;
      content: '';
      height: 5px;
      width: 56px;
      background: white;
      margin: 20px auto 0;
    }
  }
  &_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    @include for-tablet-landscape {
      flex-direction: column;
      gap: 0;
    }
    svg {
      max-width: 90%;
      height: auto;
    }
  }
  h4 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-size: 25px;
    @include for-tablet-landscape {
      margin: 0;
    }
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid #FFFFFF;
      padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 15px;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: grey;
      }
      &:nth-child(1) {
        &:before{
          background: linear-gradient(0deg, #FFB0E0 0%, #B9207D 99.54%);
        }
      }
      &:nth-child(2) {
        &:before{
          background: linear-gradient(125.97deg, rgba(77, 255, 97, 0.69) 14.95%, #006F0D 139.71%);
        }
      }
      &:nth-child(3) {
        &:before{
          background: linear-gradient(109.73deg, #FFE600 38.17%, #FFE600 72.46%);}
      }
      &:nth-child(4) {
        &:before{
          background: linear-gradient(233.64deg, #000000 14.26%, #5B544A 89.4%);
        }
      }
      &:nth-child(5) {
        &:before{
          background: linear-gradient(260.17deg, #E5442E 7.29%, #FF3161 45.94%);
        }
      }
      &:nth-child(6) {
        &:before{
          background: #80589D;
        }
      }
    }
  }
}
